/* 2688x1242px at 458ppi */

@media only screen 

    and (min-device-width : 414px) 

    and (max-device-height : 896px) 

    and (-webkit-device-pixel-ratio : 3)

    and (orientation : portrait) 

{ 



    body 

    {

       color: green;

        margin: 0;

        padding: 0; 

    }

    

    







}