/**

    Project Name: Steve Fischer's Profolio Site
    File Name: styles.css
    Other Files: index.htm  
    Date: 10/28/19

**/  


/* Desktop Styles */
body 
    {
        margin: auto; 
        padding: 0; 
       
    }
	
/* Nav Styles */

footer {
  text-align: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(50,71,90);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
 display: inline-block;
 margin: 0 10%;
    
}

li a {
  display: block;
  color: white;  
  text-align: left;
  text-decoration: none;
  font-family: Segoe UI;    
  font-size: 23px;
}

li a:hover, a:hover {
  text-decoration: underline;

}

 .about_nav{
  text-align: center;
  color:grey;
  text-decoration: none;
  margin: 0 7%;
  font-family: Segoe UI;
}

.about_nav:visited{
	color:grey;
}

 .proj_nav{
  text-align: center;
  color:grey;
  text-decoration: none;
  margin: 5% 9.9%;
  font-family: Segoe UI;
}

.proj_nav:visited{
	color:grey;
}


    
/** Image Styles **/

    img { display: inline-block;
        align-items: center;
        
    }
 
.social {
        margin-left: 22%;
    }
.social2 {
        margin-left: 1%;
    }
.social3 {
        margin-left: 25%;
    }
    

.me {float:right; border-color: rgb(97,134,167); border-style: double; border-width: 15px; width: 400px; margin-left:50px; margin-right:5%; margin-top: 13%;}



/** Heading **/

h1 { font-family: Impact; font-size: 50px; color: rgb(50,71,90); }

h2{ font-size: 30px; font-family: Impact; color: rgb(97,134,167); text-align: left; margin:0 20%;}


h3 {
    font-family: Impact;
    color:rgb(97,134,167);
    text-align: center;
    font-size: 30px;
}

p{
    font-family: Segoe UI;
    color:  rgb(50,71,90);
    font-size: 20px;
	padding: 0 1%;
   
}

.para {
    text-align: justify;
    font-size: 20px;

}

.sub {
    font-size: 37px; text-align: center; color:white; border-style:dotted; background-color: rgb(50,71,90); margin: auto; margin: 0 15px;
}

.pro {margin-top: 0; padding-left: 110px;}

button, .button1,.button2{
    border-color: rgb(50,71,90);
    background-color: white; 
    padding: 10px;
   
    display: inline-block;
    color: rgb(97,134,167);
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 1px;
    font-family: Impact;
}

button:hover, .button1:hover,.button2:hover{
	background-color: rgb(50,71,90);
}
.logo{
    display: block;
    width: 50%;
    margin-left: 23%;
    padding-top: 20px;
    
    
}



section {
    margin: 0 50px;
}
.about, .projects{
    text-align: center;
}

header{
    background-color:  rgb(50,71,90);
    padding-bottom: 20px;
}

.contact{border-style: solid; border-color: rgb(50,71,90); background-color:rgb(222,235,250); text-align: center; padding: 25px 0;}

.quote{border-style: solid; border-color: rgb(50,71,90); background-color:rgb(222,235,250); text-align: center;}

.title {text-align: center;padding-top: 50px;}


footer{  
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(50,71,90);
} 

iframe{
    max-height: 50%;
    width: 50%;
    padding: 2px;
    margin-left: 25%;
}
   /** Imported Fonts **/ 
@font-face {
  font-family: Segoe UI;
  src: url(Fonts/SegoeUI.ttf);
}
    
@font-face {
  font-family: Impact;
  src: url(Fonts/impact.ttf);
}


